@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #f2f0e3;
   
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Main Text color */
    /* Footer background color */
    --primary: rgb(22,22,22,1);   
    /* focused */
    --secondary: #ff7c4f;
    /* Footer Text */
    --footertext: #f2f0e3;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: poppins, Helvetica, sans-serif;
}

/* Following code hides Arrow Buttons on number fields for respective browsers */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}