@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #d3cfcf; */
    /* --foreground: #ededed; */
    --primary: #A52A2A;   
    --secondary: #b44632;
    --footertext: #570f02;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: poppins, Helvetica, sans-serif;
}

/* Following code hides Arrow Buttons on number fields for respective browsers */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}